


:root{
    --darkColor: #13183F;
    --violetColor: #666CA3;
    --greyColor: #83869A;
    --pinkColor: #F74780;
    --fadedPinkColor: #FFA7C3;
    --whiteColor: #FFFFFF;
    --gradientPinkColor: #F02AA6; 
    --gradientOrangeColor: #FF6F48; 
    --gradientBlueColor: #4851FF; 
}

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    overflow-x: hidden; 
}
nav{
    padding: 0 165px 0 165px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BTN STUFF */

button{
    z-index: 10;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 30px;
}


.btn-dark{
    background-color: var(--darkColor);
    color: var(--whiteColor);
}

button:hover{
    opacity: 0.7;
}

.btn-gradient-orange-pink{
    background: linear-gradient( var(--gradientOrangeColor), var(--gradientPinkColor));
    color: var(--whiteColor);
}

.btn-gradient-orange-pink:hover{
    opacity: 0.7;
}

.btn-gradient-blue-pink{
    background: linear-gradient(var(--gradientBlueColor), var(--gradientPinkColor));
    color: var(--whiteColor);
}

.btn-gradient-blue-pink:hover{
    opacity: 0.7;
}

/* HEADER */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-item{
    margin-top: -250px;
    margin-right: -350px;
}

.header__content{
    margin-left: 80px;
    width: 400px;
}

.header__content .title{
    font-size: 56px;
}
.header__content .sub{
    padding: 30px 0;
    font-size: 18px;
    color: var(--greyColor);
}


/* CARDS */
#cards-box{
    padding: 0 165px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);  
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 56px;
}


.card{
    position: relative;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    overflow-y: visible;
    background: #fff;
    box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
    -webkit-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
    -moz-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
}
.active{
    background: linear-gradient( var(--gradientOrangeColor), var(--gradientPinkColor)) !important;
    box-shadow: none;
    color: var(--whiteColor);
    font-size: 32px;
}

.card-body{
    padding: 44px 32px 30px 32px;
}

.card-action:hover{
    opacity: 0.7;
    cursor: pointer;
}

.card-img{
    margin-top: -20px;
    padding-left: 24px;
}


.card-title{
    font-size: 24px;
    font-weight: bold;
}

.card-content{
    margin: 15px 0 15px 0;
    color: var(--greyColor);
}

.card-action{
    color: var(--pinkColor);
}

footer{
    padding: 16px 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkColor);
}

.image__mobile{
    display: none;
}
.image__tablet{
    display: none;
}

/* PHONE  */
@media screen and (max-width: 600px) {
    #header {
        display: grid;
        justify-content: center;
        grid-template-columns: 95%;
        align-items: center;
    }
    .btn{
        width: 100px;
        height: 43px;
        border: none;
        border-radius: 20px;
    }


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
    }

    .image-item{
        margin-top: 0;
        margin-right: 0;
        text-align: center;
    }
    
    .header__content{
        margin-left: 0;
        width: 80vw;
    }
    
    .header__content .title{
        font-size: 40px;
    }
    .header__content .sub{
        margin: 0;
        padding: 20px 0;
        width: 300px;
        font-size: 16px;
        color: var(--greyColor);
    }

    #cards-box{
        padding: 0;
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%); 
        row-gap: 50px;
        padding-bottom: 70px;
    }
    .card{
        width: 250px;
        height: 240px;
        border-radius: 10px;
        margin-bottom: 10px;
        overflow: visible;
        box-shadow: 6px 7px 19px -3px rgba(131,134,154,.5);
        -webkit-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
        -moz-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
        padding: 24px 29px 32px 28px;
    }
    .card-img{
        margin-top: -50px;
        padding-left: 24px;
    }
    .card-content{
        margin: 20px 0 20px 0;
        color: var(--greyColor);
    }
    
    .card-body{
        padding: 34px 32px 30px 34px;
    }
    .active{
        padding-top: 0;
        box-shadow: none;
        color: var(--whiteColor);
        font-size: 16px;
        height: 80px;
        background: linear-gradient( var(--gradientOrangeColor), var(--gradientPinkColor));
    }

    #header{
        display: grid;
        justify-content: center;
        grid-template-columns: 80%;
        align-items: center;
        width: 100%;
        padding: 0;
    
    }

    .header__content{
        width: 330px;
        
    }

    .image__mobile{
        display: inline;
        text-align: center;
    
    }

    .image__mobile img{
        text-align: center;
        width: 327px;
        height: 301px;
    }

  
    .image__desktop{
        display: none;
    }
    .image__tablet{
        display: none;
    }

    

    footer{
        height: 100px;
        background-color: var(--darkColor);
        color: var(--whiteColor);
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        right: 0;
        left: 0;
        bottom: 0;
    }
}


 /* TABLET */
@media screen and (min-width: 600px) and (max-width: 806px) {


    nav{
        padding: 14px 50px 14px 50px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* BTN STUFF */
    
     button{
        z-index: 10;
        width: 140px;
        height: 46px;
        border: none;
        border-radius: 30px;
    }
     
    
    
    /* HEADER */
    #header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .image__mobile{
        display: none;
    }
    .image__desktop{
        display: none;
    }
    .image__tablet{
        display: inline-block;
        position: relative;
       
        height: 600px;
    }


    .image-item{
        padding-top: 100px;
        padding-right: -40px;
    }

    
    .header__content{
        margin-left: 24px;
        width: 300px;
    }
    
    .header__content .title{
        font-size: 40px;
    }
    .header__content .sub{
        padding: 30px 0;
        font-size: 18px;
        color: var(--greyColor);
    }
     
    
    /* CARDS */
    #cards-box{
        padding: 10px 10px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);  
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 10px;
    }
    
    
    .card{
        position: relative;
        width:  300px;
        height: 280px;
        border-radius: 10px;
        overflow-y: visible;
        background: #fff;
        box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
        -webkit-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
        -moz-box-shadow: 6px 7px 19px -3px rgba(131,134,154,.3);
    }
    .active{
        background: linear-gradient( var(--gradientOrangeColor), var(--gradientPinkColor)) !important;
        box-shadow: none;
        color: var(--whiteColor);
        font-size: 32px;
    }
    
    .card-body{
        padding: 44px 32px 30px 32px;
    }
    
    .card-action:hover{
        opacity: 0.7;
        cursor: pointer;
    }
    
    .card-img{
        margin-top: -20px;
        padding-left: 24px;
    }
    
    
    .card-title{
        font-size: 24px;
        font-weight: bold;
    }
    
    .card-content{
        margin: 15px 0 15px 0;
        color: var(--greyColor);
    }
    
    .card-action{
        color: var(--pinkColor);
    }
    
    footer{
        padding: 36px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--darkColor);
    }
    
    
    
}  
